{% extends 'main.html' %}
{% block content %}
<main class="profile-page layout layout--2">
  
  <div class="container">
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'home'%}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <h3>Investigation Room </h3> 
        </div>
        <div class="room__topRight">
          <a href="MSTeams:/&topicName=Incident{{investigation.id}}&message=I have some questions about meta hunter http://127.0.0.1:8000/investigation/{{investigation.id}} {{investigation.name}}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32px" height="32px">
               <title>Teams Chat</title>
               <path fill="#5059c9" d="M44,22v8c0,3.314-2.686,6-6,6s-6-2.686-6-6V20h10C43.105,20,44,20.895,44,22z M38,16	c2.209,0,4-1.791,4-4c0-2.209-1.791-4-4-4s-4,1.791-4,4C34,14.209,35.791,16,38,16z"/>
               <path fill="#7b83eb" d="M35,22v11c0,5.743-4.841,10.356-10.666,9.978C19.019,42.634,15,37.983,15,32.657V20h18	C34.105,20,35,20.895,35,22z M25,17c3.314,0,6-2.686,6-6s-2.686-6-6-6s-6,2.686-6,6S21.686,17,25,17z"/>
               <circle cx="25" cy="11" r="6" fill="#7b83eb"/>
               <path d="M26,33.319V20H15v12.657c0,1.534,0.343,3.008,0.944,4.343h6.374C24.352,37,26,35.352,26,33.319z" opacity=".05"/>
               <path d="M15,20v12.657c0,1.16,0.201,2.284,0.554,3.343h6.658c1.724,0,3.121-1.397,3.121-3.121V20H15z" opacity=".07"/>
               <path d="M24.667,20H15v12.657c0,0.802,0.101,1.584,0.274,2.343h6.832c1.414,0,2.56-1.146,2.56-2.56V20z" opacity=".09"/>
               <linearGradient id="DqqEodsTc8fO7iIkpib~Na" x1="4.648" x2="23.403" y1="14.648" y2="33.403" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#5961c3"/>
                <stop offset="1" stop-color="#3a41ac"/>
              </linearGradient>
              <path fill="url(#DqqEodsTc8fO7iIkpib~Na)" d="M22,34H6c-1.105,0-2-0.895-2-2V16c0-1.105,0.895-2,2-2h16c1.105,0,2,0.895,2,2v16	C24,33.105,23.105,34,22,34z"/>
              <path fill="#fff" d="M18.068,18.999H9.932v1.72h3.047v8.28h2.042v-8.28h3.047V18.999z"/>
            </svg>
          </a>
          {% if investigation.host == request.user %}
          <a href="{% url 'update-investigation' investigation.id %}">
            <svg
              enable-background="new 0 0 24 24"
              height="32"
              viewBox="0 0 24 24"
              width="32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>edit</title>
              <g>
                <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
              </g>
              <g>
                <g>
                  <path
                    d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z"
                  />
                </g>
                <g>
                  <path
                    d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z"
                  />
                </g>
              </g>
            </svg>
          </a>
          <a href="{% url 'delete-investigation' investigation.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
              ></path>
            </svg>
          </a>
        {% endif %}
        </div>
        
      </div>

      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
            <h3>{{investigation.name}}</h3>
            <span>{{investigation.created|timesince}}</span>
          </div>
          <div class="room__hosted">
            <p>Hosted By</p>
            <a href="{% url 'user-profile' investigation.host.id %}" class="room__author">
              <div class="avatar avatar--small">
                <img src="https://randomuser.me/api/portraits/men/37.jpg" />
              </div>
              <span>@{{investigation.host.username}}</span>
            </a>
          </div>
          <hr>
          <div class="room__details">
            <label>Description</label><br>
            {{investigation.description}}
          </div>
          <hr>
          <label>Parent Case Name</label>
          <span class="room__topics">{{investigation.case.name}}</span>
          
          <label>State</label>
          <span class="room__topics">{{investigation.state}}</span>
          
          <label>Priority</label>
          <span class="room__topics--{{investigation.priority}}">{{investigation.priority}}</span>
          
          <label>Severity</label>
          <span class="room__topics--{{investigation.severity}}">{{investigation.severity}}</span>
        </div>

        <div class="room__conversation">
          <div class="threads scroll">

            {% for message in investigation_messages%}   
            <div class="thread">
              <div class="thread__top">
                <div class="thread__author">
                  <a href="{% url 'user-profile' message.user.id %}" class="thread__authorInfo">
                    <div class="avatar avatar--small">
                      <img src="https://randomuser.me/api/portraits/men/37.jpg" />
                    </div>
                    <span>@{{message.user.username}}</span>
                  </a>
                  <span class="thread__date">{{message.created|timesince}}</span>
                </div>

                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">
                <div class="thread__delete">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>remove</title>
                    <path
                      d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                    ></path>
                  </svg>
                </div>
                </a>
                {% endif %}

              </div>
              <div class="thread__details">
                {{message.body}}
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

      {% if request.user.is_authenticated %}
      <div class="room__message">
        <form method="POST" action=""> 
          {% csrf_token %}
          <input type="text" name="body" placeholder="Write your message here..." />
        </form>
      
      </div>
      {% endif %}
    </div>
    <!-- Room End -->

    <!--   Start -->
    <div class="participants">
      <h3 class="participants__top">Active Analysts <span>({{participants.count}})</span></h3>
      <div class="participants__list scroll">
        {% for user in participants %}
        <a href="{% url 'user-profile' user.id %}" class="participant">
          <div class="avatar avatar--medium">
            <img src="https://randomuser.me/api/portraits/men/37.jpg" />
          </div>
          <p>
            {{user.username}}
            <span>@{{user.username}}</span>
          </p>
        </a>
        {% endfor %}
        <!-- INDICATORS -->
        <h3 class="participants__top">Indicators <span>({{indicators|length}})</span></h3>
        {% for indicator in indicators %}
          {{indicator.type}} {{indicator.value}} <br>
        {% endfor %}
        <!-- INDICATORS -->
        <!-- Intel Reports -->
        <br>
        <h3 class="participants__top">Recommended Intel <span>({{reports|length}})</span></h3>
        {% for report in reports %}
          <a href="{{report.url}} "> {{report.title}} </a>
        {% endfor %}
        <!-- INDICATORS -->
    </div>
    <!-- END-->
  </div>
</main>
{% endblock content %}